@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nunito&family=Poppins&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Gloria Hallelujah', cursive;*/

:root {
    --FontWebsiteName: 'Gloria Hallelujah', cursive;
    --FontPrincipal: 'Poppins', sans-serif;


}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--FontPrincipal);
}

/* Navbar */

.logo img {
    display: none;
}

header h1 {
    color: green;
    font-family: var(--FontWebsiteName);
    font-weight: bold;
}

header ul {
    padding: 0px;
}

header li {
    list-style-type: none;
    margin: 2px;
}

header a {
    text-decoration: none;
    color: black;
}


/* main */

.home {
    width: 100vw;
    height: 100vh;
    background-image: url(/media/Fire.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.411);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;

}

.home p {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: 40px;
}