@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nunito&family=Poppins&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Gloria Hallelujah', cursive;*/

:root {
    --FontWebsiteName: 'Gloria Hallelujah', cursive;
    --FontPrincipal: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

/* CSS Mobile-first */


body {
    margin: 0px;
    padding: 0px;
    font-family: var(--FontPrincipal);

}


/* Navbar */

header {
    margin-bottom: 1rem;
}


.navbar-brand {
    color: green;
    font-family: var(--FontWebsiteName);
    font-weight: bold;
}

.logo {
    display: none;
}

.breadcrumb {
    margin-top: 4rem;
}

/* main */

/* Acceuil */


.home {
    width: 100vw;
    height: 100vh;
    background-image: url(/media/Fire.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.411);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 30px;

}

.home p {

    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: 40px;
}

/* Section Actualités et Evènements*/

main h2 {
    text-align: center;
    font-size: 2rem;
    margin: 4rem auto;
    font-weight: bold;
}

.actu h3 {
    text-decoration: underline;
}

.actu h3:hover {
    cursor: pointer;
}

.actu p {
    color: gray;
}

.card {
    padding: 1rem;
    border: none;
}

.actu img {
    margin-bottom: 1rem;
}

/* Appel au dons */

.donateBanner {
    width: 100vw;
    height: 50vh;
    margin-top: 2rem;
    background-image: url(/media/Rhino.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.521);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Adhésion */


.wallImg {
    background: none;    
}

.joinUs p,
form {
    padding: 2rem;

}

.joinUs p {
    font-size: 2rem;
    font-weight: bold;
}

.joinUs p span {
    font-family: var(--FontWebsiteName);
    color: green;
}

/* footer */

footer {
    height: 50vh;
    width: 100vw;
    margin-top: 4rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;

}

.social img {
    cursor: pointer;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    height: auto;
    margin-top: 100px;



}

/* CSS desktop */


@media screen and (min-width: 992px) {

    

    .logo {
        display: initial;
        width: 50px;
        margin-right: 10px;
    }
    
    .home {
        width: 100vw;
        height: 100vh;
        background-image: url(/media/Fire.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.411);
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
    }

    .home p {
        font-size: 6rem;
        color: rgb(255, 255, 255);
        font-weight: 900;
        
    }

    .home .btn.btn-primary  {
        width: 200px;
        font-size: 2rem;
    }

    /* Actualités */

    section.actu {
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: repeat(6, 1fr);
    
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border: none;
    }
    .actu img {
        height: 250px;
    }

    .Déforestation {
        grid-row: 1/2 ;
        grid-column: 1/3;
    }
    .pollution {
        grid-row: 1/2;
        grid-column: 3/5;
    }
    .manifestations {
        grid-row: 1/2 ;
        grid-column: 5/7;
    }

    /* Evènements */

    .conférence {
        grid-row: 1/2 ;
        grid-column: 1/3;
    }
    .forum {
        grid-row: 1/2;
        grid-column: 3/5;
    }
    .lookup {
        grid-row: 1/2 ;
        grid-column: 5/7;
    }
    .wallImg {

        width: 100vw;
        height: 100vh;
        background-image: url(/media/joinus.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
    }
    .joinUs {
    
    }
}


